use Mix.Config

config :pivotal_codereview, port: 4000

config :pivotal_codereview, pivotaltracker_endpoint: "https://www.pivotaltracker.com/services/v5"
config :pivotal_codereview, pivotaltracker_token: "PIVOTAL_TOKEN"
config :pivotal_codereview, pivotaltracker_label_name: "on_code_review"
